[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"python-telegram-bot" = "==11.1.0"
"SQLAlchemy" = "==1.2.11"
"SQLAlchemy-Wrapper" = "==1.9.1"
"psycopg2" = "==2.7.5"
